<div class="header">
    <div class="headerContent">
        <div>
            <a href="/Summary/summary.html"><img id="logo" src="/Templates/Menu/img/logo_header.svg"></a>
        </div>
        <div class="right-section">
            <span>Kanban Project Management Tool</span>
            <a id="mediaquerry_work" href="/Help/help.html"><img src="/Templates/Menu/img/help.svg"></a>
            <!--img id="d_none_svg" src="/Templates/Menu/img/profil_inits.svg"-->
            <div id="kanban"></div>
            <div style="display: none;" id="options"></div>
        </div>
    </div>
</div>
<aside>

    <ul>
        <div class="primary-links">
            <a href="/Summary/summary.html"><img src="/Templates/Menu/img/menu_summary.svg">Summary</a>
            <a href="/AddTask/addTask.html"><img src="/Templates/Menu/img/menu_addTask.svg">Add Task</a>
            <a href="/Board/board.html"><img src="/Templates/Menu/img/menu_board.svg">Board</a>
            <a href="/Contacts/contacts.html"><img src="/Templates/Menu/img/menu_contacts.svg">Contacts</a>
        </div>
    </ul>
    <ul class="secondary-links">
        <a href="/PrivacyPolicy/privacypolicy.html">Privacy Policy</a>
        <a href="/LegalNotice/legalnotice.html">Legal notice</a>
    </ul>
    <div id="myElement"></div>
</aside>

<script src="/Templates/template.js"></script>
<link rel="stylesheet" href="/Templates/Menu/menu.css">