body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
}

.header {
    height: 96px;
    background-color: #4589FF;
}

.header span {
    color: white !important;
    font-size: 19px;
    font-weight: 400;
}

.headerContent {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 433px;
}

#logo {
    height: 56px;
    width: 45.93px;
    margin-left: 39px;
}

aside {
    height: 100vh;
    max-width: 232px;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 420px;
    position: fixed;
    top: 96px;
    padding-top: 15px;
}

ul {
    display: flex;
    flex-direction: column;
}

aside a {
    text-decoration: 0;
    font-size: 16px;
    font-weight: 400;
    color: #42526E;
    display: flex;
    align-items: center;
    width: 170px;
    height: 40px;
    gap: 8px;
    padding-left: 16px;
}

aside a:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: #005eff0f;
}

.secondary-links a:hover {
    color: #4589FF;
    background-color: white;
}

#myElement {
    position: fixed;
    max-width: 232px;
    border-right: 1px solid lightgray;
}

/*Media-querry*/

@media (max-width: 700px) {

    .secondary-links {
        display: none;
    }

    aside {
        border-right: none;
        gap: 0;
        top: 90vh;
        position: fixed !important;
        padding-top: 0;
        z-index: 1;
    }

    .header span {
        display: none;
    }

    #mediaquerry_work {
        display: none;
    }

    .right-section {
        width: 0px;
        margin-right: 72px;
    }

    .primary-links {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        left: 50%;
        transform: translate(-50%);
    }

    aside ul {
        display: flex;
        flex-direction: row;
        height: 88px;
        width: 100vh !important;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding-bottom: 15%;
    }

    aside ul a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
        left: 25%;
    }

    aside a {
        padding-left: 0;
        height: 80px;
        width: 86px;
        margin-top: 0px;
    }
}

@media (max-width: 400px) {
    aside ul {
        width: 100vh;
    }

    #options {
        left: 150px;
    }
}

@media (max-width: 376px) {
    body {
        overflow: hidden;
    }

    aside {
        top: 85vh
    }

    aside ul {
        width: 100vh;
    }

    aside a {
        margin-left: -12px;
    }

    .bigContactSign {
        height: 85px;
        width: 85px;
        font-size: 40px;
    }

    .contactContent {
        margin-top: 105px;
    }
}